<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/custom.css">

<title>Buy Tonight</title>
</head>
<body>
 
    <% include partials/navbar.ejs %>
    
    <div class="container wrapper">
        <div class="row">
            <div class="col-lg-12">  
                <h1>Welcome to the cart</h1>
               
                <% for(var i=0; i< cart.items.length; i++ ){ %>
                    <div>
                      <form method="post" action="/cart/<%= cart.items[i].item %>">    
                    <h1>ID: <%= cart.items[i]._id %></h1>
                    <h3>Item: <%= cart.items[i].item %></h3>
                    <h3>Name: <%= cart.items[i].name %> </h3>
                    <h3>Price: <%= cart.items[i].price %></h3>
                    <h3>Quantity: <%= cart.items[i].quantity %></h3>
                    
                   
                    <button type="submit" class="btn btn-danger">Remove Item</button>
                    <hr>
                    </form>  
                        
                    </div>
                <% } %>
                <h1>Total to pay: <%= total %>$</h1>
                
                <div id="paymentButtons">
                <button type="button" id="payWithCard" class="btn btn-success">Pay with Card</button>
                 <button type="button" id="payWithCash" class="btn btn-primary">Pay with Cash</button>   
                </div>
                
                <div class="payments">
                
                    <div class="cardPayment">
                   
                        
                        <form action="/chargeCard" method="post">
                        
                            <h3>Please enter informations bellow</h3>
                            <div class="form-group">
                                <label>Name:</label>
                                <input type="text" class="form-control" name="name">
                            </div>
                            <div class="form-group">
                                <label>Shipping Address:</label>
                                <input type="text" class="form-control" name="address">
                            </div>
                             <div class="form-group">
                                <label>Telephone:</label>
                                <input type="text" class="form-control" name="telephone">
                            </div>
                            <div class="form-group">
                                <label>Card Number:</label>
                                <input type="text" class="form-control" name="card">
                            </div>
                            <div class="form-group">
                                <label>Expiration Date:</label>
                                <input type="text" class="form-control" name="mm">
                                <input type="text" class="form-control" name="yy">
                            </div>
                            <div class="form-group">
                                <label>CVC:</label>
                                <input type="text" class="form-control" name="dvc">
                            </div>
                            <input type="hidden" name="amount" value="<%= total %>">
                            <button type="submit" class="btn btn-success">Submit Payment</button>
                        </form>
                        
                    </div>
                    
                    <div class="cashPayment">
                            
                            <form action="/chargeCash" method="post">
                                <input type="hidden" name="cartID" value="<%= cart._id %>">
                                <h3>Please enter informations bellow</h3>
                            <div class="form-group">
                                <label>Name:</label>
                                <input type="text" class="form-control" name="name">
                            </div>
                            <div class="form-group">
                                <label>Address:</label>
                                <input type="text" class="form-control" name="address">
                            </div>
                             <div class="form-group">
                                <label>Telephone:</label>
                                <input type="text" class="form-control" name="telephone">
                            </div>
                            <input type="hidden" name="amount" value="<%= total %>">
                            <button type="submit" class="btn btn-success">Submit Payment</button>
                        </form>
                    </div>
                
                
                </div>
            </div>          
        </div>
    </div>


    
 <% include partials/footer.ejs %>     
    

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="/js/custom.js"></script>

</body>

</html>