<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/custom.css">

<title>Buy Tonight</title>
</head>
<body>
 
 <% include partials/navbar.ejs %>
    
    <div class="container">
    
        <div class="row">
        
            <div class="col-sm-12">
                
                <form action="/products/specify" method="get">
                   
                   
                    
                     <div class="form-check"  style="border: 2px solid #ddd; padding: 5px;" >
                         <div class="products-filter" id="filter-store">
                             <h4>Store</h4>
                             
                             <ul>
                                 
                                 <li><input name="store" value="Rolex" type="checkbox" id="cb2" />
                                <label for="cb2"><img src="http://www.retailserbia.com/images/slike5/kam-market-diambe-1.jpg" /><p>Kam Market</p></label>
                              </li>
                                 <li><input name="store" value="Furna" type="checkbox" id="cb3" />
                                <label for="cb3"><img src="http://mkmaps.com/wp-content/uploads/2013/11/Gradska-Kafana-FURNA-Skopje-Macedonia-MKmaps.jpg" /><p>Furna</p></label>
                              </li>
                                 <li><input name="store" value="Hamza Doner" type="checkbox" id="cb4" />
                                <label for="cb4"><img src="https://s.rozee.pk/company_logos/72/96351922630898.png" /><p>Hamza Doner</p></label>
                              </li>
                                 <li><input name="store" value="AMC" type="checkbox" id="cb1" />
                                <label for="cb1"><img src="http://skopjecitymall.mk/wp-content/uploads/2015/01/2hs8zsg1.jpg" /><p>AMC</p></label>
                              </li>
                                 <li><input name="store" value="JYSK" type="checkbox" id="cb5" />
                                <label for="cb5"><img src="https://cdn.jysk.ca/media/wysiwyg/logo.jpg" /><p>JYSK</p></label>
                              </li>
                                 <li><input name="store" value="Other" type="checkbox" id="cb6" />
                                <label for="cb6"><img src="http://other.co.uk/system/wp-content/uploads/2016/10/other-logo.jpg" /><p>Other</p></label>
                              </li>
                                 
                         
                            </ul>
                             
                         </div>
                         
                         <div class="products-filter" id="filter-category">
                    <h4>Category</h4>
                       <ul>
                            
                            <li><input name="category" value="Food" type="checkbox" id="cb7" />
                                <label for="cb7"><img src="http://4vector.com/i/free-vector-hamburger-clip-art_113002_Hamburger_clip_art_hight.png" /><p>Food</p></label>
                              </li>
                                <li><input name="category" value="Drinks" type="checkbox" id="cb8" />
                                <label for="cb8"><img src="https://seeklogo.com/images/O/orange-drinks-logo-26A932A99B-seeklogo.com.png" /><p>Drinks</p></label>
                              </li>
                            <li><input name="category" value="Grocery" type="checkbox" id="cb11" />
                                <label for="cb11"><img src="http://www.grocery-tracker.com/gtracker_icon.png" /><p>Grocery</p></label>
                              </li>
                                <li><input name="category" value="Electronics" type="checkbox" id="cb9" />
                                <label for="cb9"><img src="http://eatlogos.com/fashion_logos/png/vector_mobile_logo.png" /><p>Electronics</p></label>
                              </li>
                                <li><input name="category" value="Home" type="checkbox" id="cb10" />
                                <label for="cb10"><img src="http://images.clipartpanda.com/home-sweet-home-logo-sweet_home_coloring_book_colouring-555px.png" /><p>Home</p></label>
                              </li>
                             
                        </ul>
                   
                         </div>
                    </div>
                    
                    <div class="form-check" style="border: 2px solid #ddd; padding: 5px;" >
                    <h4>Price</h4>
                         <div class="priceFromTo form-group">
                        <label for="price">Price From:</label>
                        <input type="number" class="form-control" name="priceFrom">
                        <label for="price">Price To:</label>
                        <input type="text" class="form-control" name="priceTo">
                        </div>
    
                    
                    </div>
                    
                    <button type="submit" class="btn btn-success">Update Search</button>
                
                
                </form>
             
                
                
            </div>
        
        
        </div>
    
    
    </div>
    
    <% if(user) {%>
        <% if(user.local.isAdmin) {%>  
              <div class="container">
                <div class="row">
                    
                <% items.forEach(function(item){ %>
                <div class="product-card-col col-sm-12 col-md-6 col-lg-3">
                    <a href="/view-product/<%= item._id %>">
                   <div class="product-card">
    
                        <img src="<%= item.image %>" class="img-fluid rounded">
                        <div class="product-card-infos">
                            <h5><%= item.name %> </h5>
                            <h2>$<%= item.price %> </h2>
                                <% if(item.price > 500){ %>
                            <span class="product-card-price">
                                Expensive item
                            </span>
                                <% } %>
                       </div>
                    </div>
                    </a>
                    </div>
                <% }) %>   
                    </div>
                  <div class="row">
                    <div class="col-sm-12">
                        <p>1 2 3 4 5</p>
                      </div>
                  </div>
                </div>
                
            
       <% } else { %>
   <div class="container">
                <div class="row">
                    
                <% items.forEach(function(item){ %>
                <div class="product-card-col col-sm-12 col-md-3">
                    <a href="/view-product/<%= item._id %>">
                   <div class="product-card">
    
                        <img src="<%= item.image %>" class="img-fluid rounded">
                        <div class="product-card-infos">
                            <h5><%= item.name %> </h5>
                            <h2>$<%= item.price %> </h2>
                                <% if(item.price > 500){ %>
                            <span class="product-card-price">
                                Expensive item
                            </span>
                                <% } %>
                       </div>
                    </div>
                    </a>
                    </div>
                <% }) %>   
                    </div>
                  <div class="row">
                    <div class="col-sm-12">
                        <p>1 2 3 4 5</p>
                      </div>
                  </div>
                </div>
            
        
          <% } %>
    <% } else { %>
    
        
    
    <% } %>

 <% include partials/footer.ejs %>     

<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="/js/custom.js"></script>

</body>

</html>