<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/custom.css">

<title>Buy Tonight</title>
</head>
<body>
 
 <% include partials/navbar.ejs %>
    
    <div class="container">
    
        <div class="row">
        
            <div class="col-sm-5">
            
                <img src="<%= single.image %>" class="img-fluid rounded-circle "> 
            
            </div>
            
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
            
                 <form method="post" style="text-align: center">
                    
                    <div class="btn-group">
                        <input type="hidden" name="quantity" id="quantity" value="1"> </input>
                         <button type="button" id="minus" class="btn btn-default"> - </button>
                         <button type="button" id="total" class="btn btn-default"> 1 </button>
                         <button type="button" id="plus" class="btn btn-default"> + </button>
                     </div>
                
                    <div class="form-group">
                
                        <input type="hidden" name="product_id" id="id_id_id" value="<%= single._id %>"> </input>
                        <input type="hidden" name="priceHidden" id="priceHidden" value="<%= single.price %>"> </input>
            
                        <input type="text" name="item" class="form-control" value="<%= single.name %>" readonly> </input>
                        <input type="text" id="price" name="price" class="form-control" value="<%= single.price %>"  readonly> </input>
                
                    </div>
            
                        <button type="submit" class="btn btn-primary">Add to Cart</button>



                </form>
            
            </div>
        
        </div>
    
    
    </div>
    

    
 <% include partials/footer.ejs %>     

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="/js/custom.js"></script>

</body>

</html>